.article-div{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(440px,1fr));
    row-gap: 30px;
}

.shirt h4, span {
    font-size: 1.4em;
    padding: 10px 0 0 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.shirt {
   filter: brightness(0.9);
}

.shirt img{
    width: 480px;
    filter:blur(1);
    border-radius: 32px;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
      33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
      66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
      100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
  }

@media (max-width: 792px) {

    .article-div {
        grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    }

    .shirt img {    
        width: 340px;
    }
}