.footer-main {
    margin-top: 80px;
    display: flex;
    border-top: 1px solid black;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-main-section-one p{
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
}

.footer-main-section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-main-section-two ul h4 {
    font-weight: 400;
    font-size: 1.1em;
    font-family:  sans-serif;
    text-decoration: none;
    padding-bottom: 20px;
}

.footer-main-section-two ul li a {
    font-weight: 400;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
    color: var(--parrafos);
    text-decoration: none;
}

.footer-logo{
    font-family: "Pacifico", cursive;
}

@media (max-width: 792px) {
    .footer-main {
        text-align: center;
        flex-direction: column;   
    }
    .footer-main-section-one{
        padding-bottom: 40px;
    }
    .footer-logo{
        font-family: "Pacifico", cursive;
        font-size: 2em;
    }
}