
.article-mainShirts-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.article-mainShirts-header h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 3.4em;
    text-transform: uppercase;
    text-align: center;
}

.article-mainShirts-header p {
    font-weight: 400;
    font-size: 1.1em;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--parrafos);
}

@media (max-width: 792px) {
    .article-mainShirts-header p {
        text-align: center;
    }
}
