.HeroBanner{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.HeroBanner img {
    width: 100%;
    border-radius: 16px;
    filter: brightness(0.6);
}

.HeroBanner-div{
    display: grid;
    gap: 10px;
    bottom: 10%;
    grid-template-areas: 
    "HeroBanner-title HeroBanner-title HeroBanner-title"
    "HeroBanner-message HeroBanner-message HeroBanner-button";
    position: absolute;
    z-index: 2;
    column-gap: 32vw;

}

.HeroBanner-div h1{
    font-size: 4em;
    grid-area: HeroBanner-title;
    color: #ffffff;
}

.HeroBanner-div p{
    grid-area: HeroBanner-message;
    font-size: 1em;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.HeroBanner-div button{
    grid-area: HeroBanner-button;
    background-color: #ffffff;
    color: black;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 80px;
    font-weight: 600;
    border: none;
    font-size: 1em;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
}

.HeroBanner-div button:hover{
    color: white;
}

@media (max-width: 1192px) {
    .HeroBanner {
        width: 100%;
    }
    .HeroBanner img {
        object-fit: cover;
        height: 300px;
        border-radius: 0;
    }
    .HeroBanner-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .HeroBanner-div h1{
        font-size: 2em;
    }

    .HeroBanner-div p {
        display: none;
    }
}